<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Monday, January 4, 2021</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>1:00 pm - 2:00 pm</td>        <!-- time    -->
        <td>Welcome and getting started</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>2:00 - 4:30 pm</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/organization-genomics/" target="_blank">Project Organization and Management for Genomics</a></td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Wednesday, January 6, 2021</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>1:00 - 4:30</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/shell-genomics/" target="_blank">Introduction to the Command Line for Genomics</a></td>        <!-- content -->
      </tr>
      <!--<tr>-->               <!-- row 2   -->
        <!--<td></td>-->        <!-- time    -->
        <!--<td></td>-->        <!-- content -->
      <!--</tr>-->
      <!--<tr>-->               <!-- row 3   -->
        <!--<td></td>-->        <!-- time    -->
        <!--<td></td>-->        <!-- content -->
      <!--</tr>-->
    </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Friday, January 8, 2021</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>1:00 pm - 4:30 pm</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/wrangling-genomics/" target="_blank">Data Wrangling and Processing for Genomics</a></td>        <!-- content -->
      </tr>
      <!--<tr>-->               <!-- row 2   -->
        <!--<td></td>-->        <!-- time    -->
        <!--<td></td>-->        <!-- content -->
      <!--</tr>-->
      <!--<tr>-->               <!-- row 3   -->
        <!--<td></td>-->        <!-- time    -->
        <!--<td></td>-->        <!-- content -->
      <!--</tr>-->
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Monday, January 11, 2021</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>1:00 pm - 2:30 pm</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/cloud-genomics/" target="_blank">Introduction to Cloud Computing for Genomics</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>2:30 pm - 4:30 pm</td>        <!-- time    -->
        <td>RStudio setup check and start <a href="https://datacarpentry.org/genomics-r-intro/" target="_blank">Intro to R and RStudio for Genomics</a></td>        <!-- content -->
      </tr>
      <!--<tr>-->               <!-- row 3   -->
        <!--<td></td>-->        <!-- time    -->
        <!--<td></td>-->        <!-- content -->
      <!--</tr>-->
    </table>
  </div>
  <div class="row">        <!-- days 5 and 6 -->
    <div class="col-md-6"> <!-- left column -->
      <h3>Wednesday, January 13, 2021</h3>
      <table class="table table-striped">
        <tr>               <!-- row 1   -->
          <td>1:00 pm - 4:30 pm</td>        <!-- time    -->
          <td><a href="https://datacarpentry.org/genomics-r-intro/" target="_blank">Intro to R and RStudio for Genomics</a></td>        <!-- content -->
        </tr>
        <!--<tr>-->               <!-- row 2   -->
          <!--<td></td>-->        <!-- time    -->
          <!--<td></td>-->        <!-- content -->
        <!--</tr>-->
        <!--<tr>-->               <!-- row 3   -->
          <!--<td></td>-->        <!-- time    -->
          <!--<td></td>-->        <!-- content -->
        <!--</tr>-->
      </table>
    </div>
    <div class="col-md-6"> <!-- right column -->
      <h3>Friday, January 15, 2021</h3>
      <table class="table table-striped">
        <tr>               <!-- row 1   -->
          <td>1:00 pm - 4:30 pm</td>        <!-- time    -->
          <td><a href="https://datacarpentry.org/genomics-r-intro/" target="_blank">Intro to R and RStudio for Genomics</a></td>        <!-- content -->
        </tr>
        <!--<tr>-->               <!-- row 2   -->
          <!--<td></td>-->        <!-- time    -->
          <!--<td></td>-->        <!-- content -->
        <!--</tr>-->
        <tr>               <!-- row 3   -->
          <td>End</td>
          <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
        </tr>
      </table>
    </div>
</div>
